<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>查看</title>
    <link href="static/style.css" rel="stylesheet">
    <script src="static/script.js"></script>
</head>

<body opacity=0.3 background="static/images/test.jpeg">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
        {% for message in messages %}
        <script>
            alert("{{ message }}");
        </script>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <h1>查看</h1>
    <div class="check">
        <!--获取id和内容-->
        <form action="/check">
            <p>输入用户名</p>
            <input name="username" />
            <button>提交</button>
        </form>
    </div>
    <p><a href="/">返回主页</a></p>
    <!--详情-->
    <div class="check">
        {% for question in questions %}
        {% for answer in answers %}
        <h2>{{ question }}</h2>
        <p>{{ answer }}</p>
        {% endfor %}
        {% endfor %}
    </div>

</body>

</html>