<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Error</title>
        <style>
            #error{
                color: black;
                text-align:center;
                font-size:100px;
            }
			@media (prefers-color-scheme: dark) {
				body {
					background: #222;
					color: #eee;
				}
			}
            
        </style>
    </head>
    <body>
        <h3>错误: 用户名已被占用或不存在</h3>
        <div id="error">
            <h1>Error</h1>
        </div>
        <p><a href="/">返回主页</a></p>
    </body>
</html>
