<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>main</title>
    <link href="static/style.css" rel="stylesheet">
</head>

<body opacity=0.3 background="static/images/test.jpeg">
    <h1>帮助</h1>

    <h2>管理员注意</h2>
    <p>请首先去admin界面设置管理员账号</p>

    <h3>/clean</h3>
    <p>警告⚠️,输入密码后将清空用户信息和提问信息</p>

    <h3>/admin</h3>
    <p>查看所有用户的账号密码</p>

    <h2>用户操作指南</h2>
    <p>请先注册</p>
    <h3>回答</h3>
    <ul>
        <li>查看问题</li>
        <li>回答问题</li>
    </ul>
    <h3>提问</h3>
    <p>/ask</p>
</body>

</html>