<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>main</title>
        <style>
			@media (prefers-color-scheme: dark) {
				body {
					background: #222;
					color: #eee;
				}
			}
            a{
                color: blue;
            }
        </style>
    </head>
    <body>
		<h1>主页</h1>
        <p><a href="/signup">注册账号</a></p>
        <p><a href="/ask">提问</a></p>
        <p><a href="/answer">回答</a></p>
        <p><a href="/check">查看</a></p>
        <p><a href="/admin">admin</a></p>
        <p><a href="/clear">清空</a></p>
        <p><a href="/help">帮助</a></p>
    </body>
</html>
