<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>主页</title>
    <link href="static/style.css" rel="stylesheet">
    <script src="static/script.js"></script>
</head>

<body opacity=0.3>
    <h1>Fake-tapechat</h1>
    <div class="links">
        <button type="button" onclick="signup_button()">注册账号</button>
        <button type="button" onclick="ask_button()">提问</button>
        <button type="button" onclick="check_button()">查看</button>
        <button type="button" onclick="answer_button()">回答</button>
        <button type="button" onclick="admin_button()">管理员</button>
        <button type="button" onclick="clear_button()">清空</button>
    </div>
</body>

</html>