<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>main</title>
        <style>
            body {
                width: 95%;
                background: url(../static/images/1.gif);
                margin-top: 30px;
                margin-left: 2.5%;
            }
            a,h1{
                color: yellow;
            }
            img {
                width: 30%;
                margin-top:5px;
            }
        </style>
    </head>
    <body>
        <h1>注册</h1>
        <p><a href="http://127.0.0.1:5000/signup">注册账号</a></p>
        <h1>提出问题</h1>
        <p><a href="http://127.0.0.1:5000/ask">输入</a></p>
        <h1>答案</h1>
        <p><a href="http://127.0.0.1:5000/answer">查询</a></p>
    </body>
</html>