<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Error</title>
        <style>
			@media (prefers-color-scheme: dark) {
				body{
					background: #222;
					color: #eee;
				}
			}
            #error{
                color: black;
                text-align:center;
                font-size:100px;
            }
		</style>
    </head>
    <body>
        <h3>Error: password error, please try again</h3>
        <p></p>
        <h3>错误: 密码错误,请重试</h3>
        <div id="error">
            <h1>Error</h1>
        </div>
        <p><a href="/answer">重新输入密码</a></p>
        <p><a href="/">返回主页</a></p>
    </body>
</html>
