<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>注册</title>
    <link href="static/style.css" rel="stylesheet">
    <script src="static/script.js"></script>
</head>

<body opacity=0.3 background="static/images/test.jpeg">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
        {% for message in messages %}
        <script>
            alert("{{ message }}");
            window.location.href = "/";
        </script>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <h1>注册</h1>
    <div class="input">
        <!--获取id和内容-->
        <form action="/signup">
            用户名:<input name="username" /><br>
            密码:<input type="password" name="password" /><br>
            <button>提交</button>
        </form>
    </div>
    <p><a href="/">返回主页</a></p>
</body>

</html>